@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root{
    --main-bg-formulario5: rgb(255, 255, 255);
    --main-bg-contenedor51: rgba(228, 148, 0, 0);
    --main-bg-contenedor52: rgba(255, 102, 0, 0);
    --main-bg-etiqueta51: rgba(200, 255, 0, 0);
    --main-bg-label51: rgb(25, 0, 255,0);
    --main-bg-input51: rgba(89, 0, 255, 0);
}

.formulario5{
    background-color: var(--main-bg-formulario5);
    width: 83rem;
    height: 34rem;
    margin: auto;
    padding: 1rem;
    margin-top: 1rem;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin-bottom: 2rem;
}

.tabla5{
    float: left;
    margin: 1rem auto 0rem 0rem;
    width: 80rem;

}
.contenedor51{
    background-color: var(--main-bg-contenedor51);
    width: 77rem;
    height: 5rem;
    margin: 0rem auto 0rem 1rem ;
    display: flex;  
    align-items: center;
}

.contenedor52{
    background-color: var(--main-bg-contenedor52);
    width: 5rem;
    height: 10rem;
    margin: 1rem;
    display: block;
    float: left;
    align-items: center;
}

.contenedor53{
    background-color: var(--main-bg-contenedor52);
    width: 24rem;
    height: 10rem;
    margin: 1rem;
    display: block;
    float: left;
    align-items: center;
}

.contenedor54{
    background-color: var(--main-bg-contenedor52);
    width: 8rem;
    height: 10rem;
    margin: 1rem;
    display: block;
    float: left;
    align-items: center;
}

.contenedor55{
    background-color: var(--main-bg-contenedor52);
    width: 57rem;
    height: 10rem;
    margin: 1rem;
    display: block;
    float: left;
    align-items: center;
}

.contenedor56{
    background-color: var(--main-bg-contenedor52);
    width: 18rem;
    height: 10rem;
    margin: 1rem;
    display: block;
    float: left;
    align-items: center;
}

.etiqueta51{
    background-color: var(--main-bg-etiqueta51);
    width: 15rem;
    height: 2rem;
    margin-right: 4rem;
    margin: auto;
    align-items: center;
}

.etiqueta52{
    background-color: var(--main-bg-etiqueta51);
    width: 39rem;
    height: 2rem;
    margin: auto;
    align-items: center;
}

.label51{
    background-color: var(--main-bg-label51);
    width: 5rem;
    height: 2rem;  
    float: left;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 2rem;
}

.input51{
    background-color: var(--main-bg-input51);
    width: 9rem;
    height: 2rem;
    float: right;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}

.label52{
    background-color: var(--main-bg-label51);
    width: 5rem;
    height: 2rem;  
    float: left;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 2rem;
}

.input52{
    background-color: var(--main-bg-input51);
    width: 32rem;
    height: 2rem;
    float: right;
        font-family: 'Rubik', sans-serif;
    font-size: 14px;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}

.label53{
    background-color: var(--main-bg-label51);
    width: 5rem;
    height: 2rem;  
    float: left;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1rem;
}

.input53{
    background-color: var(--main-bg-input51);
    width: 5rem;
    height: 2rem;
    float: right;
        font-family: 'Rubik', sans-serif;
    font-size: 14px;
    margin-top: .4rem;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}
.label54{
    background-color: var(--main-bg-label51);
    width: 24rem;
    height: 2rem;  
    float: left;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1rem;
}

.input54{
    background-color: var(--main-bg-input51);
    width: 24rem;
    height: 2rem;
    float: right;
        font-family: 'Rubik', sans-serif;
    font-size: 14px;
    margin-top: .4rem;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}

.label55{
    background-color: var(--main-bg-label51);
    width: 8rem;
    height: 2rem;  
    float: left;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1rem;
}

.input55{
    background-color: var(--main-bg-input51);
    width: 8rem;
    height: 2rem;
    float: right;
        font-family: 'Rubik', sans-serif;
    font-size: 14px;
    margin-top: .4rem;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}

.label56{
    background-color: var(--main-bg-label51);
    width: 57rem;
    height: 2rem;  
    float: left;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1rem;
}

.input56{
    background-color: var(--main-bg-input51);
    width: 57rem;
    height: 10rem;
    float: right;
        font-family: 'Rubik', sans-serif;
    font-size: 14px;
    margin-top: .4rem;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}

.etiqueta53{
    background-color: var(--main-bg-etiqueta51);
    width: 18rem;
    height: 2rem;  
    margin: auto auto .6rem auto;

}

.label57{
    background-color: var(--main-bg-label51);
    width: 8rem;
    height: 2rem;  
    float: left;
    text-align: left;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1rem;
}

.input57{
    background-color: var(--main-bg-input51);
    width: 8rem;
    height: 2rem;
    float: right;
        font-family: 'Rubik', sans-serif;
    font-size: 14px;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}