@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root{
    --main-bg-contenido0: rgba(73, 17, 230, 0);
    --main-bg-etiquetas0: rgba(252, 143, 0, 0);
    --main-bg-label0: rgba(195, 245, 13, 0);
    --main-bg-input0: rgba(6, 217, 245, 0);
    --main-bg-contenedor0: rgba(4, 233, 73, 0);
}

.contenido0{
background-color: var(--main-bg-contenido0);
width: auto;
height: 14rem;
margin: 2rem;
display: flex;
}

.contenedor01{
    background-color: gray;
    width: 50rem;
    height: 13rem;
    margin: 1rem;
}

.contenedor02{
    background-color: var(--main-bg-contenedor0);
    width: 23rem;
    height: 19rem;
    margin: 1rem;
    margin: auto;
}

.contenedor03{
    background-color: var(--main-bg-contenedor0);
    width: 15rem;
    height: 13rem;
    margin: 1rem;
}

.etiqueta01{
    background-color: var(--main-bg-etiquetas0);
    width: 18rem;
    height: 5rem;
    margin-top: 1rem;
    margin: 1rem auto 1rem auto;
    display: block;
}


.label01{
    background-color: var(--main-bg-label0);
    width: 18rem;
    height: 2rem;
    margin-top: 1rem;
    margin: 0rem auto .25rem auto;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
}

.input01{
    background-color: var(--main-bg-input0);
    width: 18rem;
    height: 3rem;
}

.button01{
    background-color: var(--main-bg-label0);
    width: 10rem;
    height: 4rem;
    background-color: rgba(240, 240, 240, 0);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: rgb(122, 122, 122);
    text-align: center;
    margin: 2rem auto 1rem auto;

}

.button02{
    background-color: var(--main-bg-label0);
    width: 10rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    background-color: rgba(240, 240, 240, 0);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: rgb(122, 122, 122);
    text-align: center;
    margin: 1.5rem auto 2rem auto;

}
