.part1{
    width: 100%;
    height: auto;
    padding: .5rem;
    display: flex;
}
.imagenlogo{
    width: 40rem;
    height: 15rem;
    background-color: gray;
}

.form1{
    margin-left: 1rem;
    display: flex;
}

.label{
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin: .5rem;
    margin-bottom: 5rem;
}
.input{
    margin-top: 1rem;
    font-family:  'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
}
.form11{
    padding-right:  10rem;
}

.buttons{
    font-family:  'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    display: block;
    float: right;
    margin-right: auto;
}
.folio{
    margin-top: 1rem;
    text-align: center;
    border: 2px solid black;
    width: 10rem;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
}
.Clear{
    background-color: rgba(240, 240, 240, 0);
    border: 3px solid black;
    width: 7rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    cursor: pointer;
}