.part1{
    width: 100%;
    height: auto;
    padding: .5rem;
    display: flex;
}
.imagenlogo{
    width: 40rem;
    height: 15rem;
    background-color: gray;
}

.form1{
    display: flex;
}

.label{
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 100;
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-top: 3rem;
}
.input{
    font-family:  'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    margin-left: 1rem;
}

.buttons{
    font-family:  'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: auto;
    display: block;
    margin-left: 5rem;
}
.folio{
    margin-left: 1.5rem;
    font-family:  'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    padding: 0rem 4.5rem;
}



.Clear{
    background-color: rgba(240, 240, 240, 0);
    border: 3px solid black;
    width: 7rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    cursor: pointer;
}