@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

.Banner{
    width: 100%;
    background-color: #459EC3;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    display: flex;
}

.Titulo{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 500;
    width: 15rem;
    color: white;
    margin-left: 1rem;
    margin-right: 3rem;
}

.buttoninit{
    background-color: rgba(240, 240, 240, 0);
    border: 5px solid black;
    width: 7rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    display: flex;
    cursor: pointer;
    
}
.text1{
    font-family:  'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);    
    margin: auto;
}
.buttongen{
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid rgb(255, 255, 255);
    width: 7rem;
    padding: .75rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    display: flex;
    margin: auto;
    margin-right: 1.50rem;
    cursor: pointer;
}
.text2{
    font-family:  'Rubik', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
}